
 ::ng-deep .mat-dialog-container {
  height: 460px !important;
  width: 400px !important;
}
.container {
  margin-top: 10px;
}
.full-width {
  width: 100%;
  margin-bottom: 10px;
}

.error-message {
  font-size: 12px;
}
.submit-btn {
  margin-top: 0px;
}

.float-left{
  float: left;
}
.float-right{
  float: right;
}
