<div class="header">
  <header><h2 class="text-center pt-4 pb-4">Employee Assignment</h2></header>

</div>

<div class="container">
  <div class="text-right pb-4 pt-4 ">
      <button mat-flat-button color="primary" (click)="openDialogForAdd()">Create</button>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4" *ngFor="let empoly of allEmpoly">
      <app-mat-card [empoly]="empoly" (deleteEmpolyeeEvent)="deleteEmpolyee($event)"></app-mat-card>

    </div>
  </div>
</div>







