.header {
  background-color: #3f51b5;
  color: #ffffff;
}



.example-card {
  max-width: 400px;
}
.image-container{
  height: 200px;
  width: 200px;
  margin: auto;
}
.image-container .fluid-image{
  max-width: 100%;
}
.mat-card {
  background: #fff;
  color: #000000de;
}
.example-header-image {
  background-image: url('../assets/profile-icons/icon-1.JPG');
  background-size: cover;
}


.text-right {
  text-align: right;
}
